# zperf configuration options

# Copyright (c) 2017 Intel Corp.
# SPDX-License-Identifier: Apache-2.0


mainmenu "Your Application Name"

menu "My USB Device Networking support"

    config USB_DEVICE_NETWORK
        bool
        select NET_L2_ETHERNET
    
    config USB_DEVICE_NETWORK_MY_ECM
        bool "USB Ethernet Control Model (MY ECM) Networking device"
        select USB_DEVICE_NETWORK
        select USB_COMPOSITE_DEVICE
        help
            Ethernet Control Model (MY_ECM) is a part of  Communications Device
            Class (CDC) USB protocol specified by USB-IF.
    
    config USB_DEVICE_NETWORK_MY_NCM
        bool "USB Network Control Model (NCM) Networking device"
        select USB_DEVICE_NETWORK
        select USB_COMPOSITE_DEVICE
        help
            Network Control Model (NCM) is a part of  Communications Device
            Class (CDC) USB protocol specified by USB-IF.
    
    
    # TODO CDC_ECM_INTERRUPT_EP_MPS etc have to be renamed
    if USB_DEVICE_NETWORK_MY_ECM  ||  USB_DEVICE_NETWORK_MY_NCM
    
        config CDC_ECM_INTERRUPT_EP_MPS
            int
            default 16
            help
                CDC ECM class interrupt endpoint size
        
        config CDC_ECM_BULK_EP_MPS
            int
            default 512 if USB_DC_HAS_HS_SUPPORT
            default 64
            help
                CDC ECM class bulk endpoint size
        
        config USB_DEVICE_NETWORK_ECM_MAC
            string "USB ECM Host OS MAC Address"
            default "00005E005301"
            help
                MAC Host OS Address string.
                MAC Address which would be assigned to network device, created in
                the Host's Operating System. Use RFC 7042 Documentation values as
                default MAC.
    
    endif # USB_DEVICE_NETWORK_MY_ECM  ||  USB_DEVICE_NETWORK_MY_NCM

    
    if USB_DEVICE_NETWORK_MY_NCM
    
        config CDC_NCM_XMT_NTB_MAX_SIZE
            int
            default 3200
            help
                Size of the NCM buffers for transmission (must be > MTU)
        
        config CDC_NCM_XMT_NTB_N
            int
            default 2
            help
                Number of NCM buffers for transmission

        
        config CDC_NCM_XMT_MAX_DATAGRAMS_PER_NTB
            int
            default 8
            help
                Number of datagrams in an NCM buffer to host

        
        config CDC_NCM_RCV_NTB_MAX_SIZE
            int
            default 3200
            help
                Size of the NCM buffers for reception (must be > MTU)
        
        config CDC_NCM_RCV_NTB_N
            int
            default 2
            help
                Number of NCM buffers for reception
        
        config CDC_NCM_RCV_MAX_DATAGRAMS_PER_NTB
            int
            default 1
            help
                Number of datagrams in an NCM buffer from host.  This setting
                depends on CONFIG_NET_PKT_RX_COUNT.
                Currently there is a problem within recv_transfer_datagram_to_netusb(), so use with care.

    endif # USB_DEVICE_NETWORK_MY_NCM


    if USB_DEVICE_NETWORK
        
        module = USB_DEVICE_NETWORK
        module-dep = LOG
        module-str = USB Device Network log level
        #source "subsys/net/Kconfig.template.log_config.net"
        
    endif # USB_DEVICE_NETWORK

endmenu # USB Device Networking support

source "Kconfig.zephyr"
